.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Desktop and tablet */
@media only screen and (max-width: 769px) {
    header {
        height: 9rem;
    }

    .navigation {
        padding-left: var(--space--xs);
        padding-right: var(--space--xl);
    }

    .menu_links {
        display: none; 
    }

    .logo-picture {
        height: 8rem;
        width: auto;
    }

    .hamburger--icon {
        height: 5.5rem;
        width: auto;
    }

}    

/* Desktop and tablet */
@media only screen and (min-width: 768px) {
    header {
        height: 12.5rem;
    }

    .logo-picture {
        height: 12.5rem;
        width: auto;
        margin-left: 2rem;
    }
    
    .hamburger--icon {
        display: none;
    }

    .menu_links a {
        padding-right: 5rem;
    }

    .menu_links a:hover {
        color: rgb(11,142,54, 1);
        cursor: pointer;
    }
}