<section>
    <h1>Realizacje</h1>
    <div class="slider-container">
        <div class="slide active">
            <img src="https://dummyimage.com/600x370/ccc/&text=Slide 1" alt="">
        </div>
        <div class="slide">
            <img src="https://dummyimage.com/600x370/ccc/&text=Slide 2" alt="">
        </div>
        <div class="slide">
            <img src="https://dummyimage.com/600x370/ccc/&text=Slide 3" alt="">
        </div>
        <div class="slide">
            <img src="https://dummyimage.com/600x370/ccc/&text=Slide 4" alt="">
        </div>
        <div class="control-container">
            <button class="prev">
                <i class="fa fa-chevron-left"></i>
            </button>
            <div class="slide-indicator">
                <span class="indicator active"></span>
                <span class="indicator"></span>
                <span class="indicator"></span>
                <span class="indicator"></span>
            </div>
            <button class="next">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</section>